--
-- PostgreSQL database dump
--

\restrict 0KDNFwaqtXjZD9V5IpNkcYS3YyxV5RzOgAO9pLyCbxU1BYQJDffHH8zB45zHeoq

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: appuser
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO appuser;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: appuser
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BorrowRequestStatus; Type: TYPE; Schema: public; Owner: appuser
--

CREATE TYPE public."BorrowRequestStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'CANCELLED'
);


ALTER TYPE public."BorrowRequestStatus" OWNER TO appuser;

--
-- Name: GroupRole; Type: TYPE; Schema: public; Owner: appuser
--

CREATE TYPE public."GroupRole" AS ENUM (
    'OWNER',
    'ADMIN',
    'MEMBER'
);


ALTER TYPE public."GroupRole" OWNER TO appuser;

--
-- Name: LoanStatus; Type: TYPE; Schema: public; Owner: appuser
--

CREATE TYPE public."LoanStatus" AS ENUM (
    'ACTIVE',
    'PENDING_RETURN_CONFIRMATION',
    'RETURNED',
    'OVERDUE'
);


ALTER TYPE public."LoanStatus" OWNER TO appuser;

--
-- Name: ResourceStatus; Type: TYPE; Schema: public; Owner: appuser
--

CREATE TYPE public."ResourceStatus" AS ENUM (
    'AVAILABLE',
    'BORROWED',
    'UNAVAILABLE'
);


ALTER TYPE public."ResourceStatus" OWNER TO appuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: BorrowRequest; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."BorrowRequest" (
    id text NOT NULL,
    "resourceId" text NOT NULL,
    "borrowerId" text NOT NULL,
    "ownerId" text NOT NULL,
    status public."BorrowRequestStatus" DEFAULT 'PENDING'::public."BorrowRequestStatus" NOT NULL,
    message text,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."BorrowRequest" OWNER TO appuser;

--
-- Name: Group; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."Group" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    avatar text
);


ALTER TABLE public."Group" OWNER TO appuser;

--
-- Name: GroupMember; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."GroupMember" (
    id text NOT NULL,
    "groupId" text NOT NULL,
    "userId" text NOT NULL,
    role public."GroupRole" DEFAULT 'MEMBER'::public."GroupRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."GroupMember" OWNER TO appuser;

--
-- Name: Loan; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."Loan" (
    id text NOT NULL,
    "requestId" text NOT NULL,
    "resourceId" text NOT NULL,
    "borrowerId" text NOT NULL,
    "lenderId" text NOT NULL,
    status public."LoanStatus" DEFAULT 'ACTIVE'::public."LoanStatus" NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "returnedDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Loan" OWNER TO appuser;

--
-- Name: Resource; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."Resource" (
    id text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    image text,
    "ownerId" text NOT NULL,
    status public."ResourceStatus" DEFAULT 'AVAILABLE'::public."ResourceStatus" NOT NULL,
    "currentLoanId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    category text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public."Resource" OWNER TO appuser;

--
-- Name: ResourceSharing; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."ResourceSharing" (
    id text NOT NULL,
    "resourceId" text NOT NULL,
    "groupId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ResourceSharing" OWNER TO appuser;

--
-- Name: User; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    "fcmToken" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO appuser;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO appuser;

--
-- Data for Name: BorrowRequest; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."BorrowRequest" (id, "resourceId", "borrowerId", "ownerId", status, message, "startDate", "endDate", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Group; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."Group" (id, name, description, "createdById", "createdAt", "updatedAt", avatar) FROM stdin;
addcd70b-1c5a-4529-b4b7-871bcf2947f3	My Friends	\N	VI69j8PZ58evIVD9HJhRuMvXmAs1	2026-05-15 21:34:48.926	2026-05-15 21:34:48.926	\N
\.


--
-- Data for Name: GroupMember; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."GroupMember" (id, "groupId", "userId", role, "createdAt", "updatedAt") FROM stdin;
f66a20b3-0776-4603-aba0-68be65f6dc13	addcd70b-1c5a-4529-b4b7-871bcf2947f3	VI69j8PZ58evIVD9HJhRuMvXmAs1	OWNER	2026-05-15 21:34:48.926	2026-05-15 21:34:48.934
\.


--
-- Data for Name: Loan; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."Loan" (id, "requestId", "resourceId", "borrowerId", "lenderId", status, "startDate", "endDate", "returnedDate", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Resource; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: ResourceSharing; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."ResourceSharing" (id, "resourceId", "groupId", "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public."User" (id, email, name, "fcmToken", "createdAt", "updatedAt") FROM stdin;
VI69j8PZ58evIVD9HJhRuMvXmAs1	jennykunte90@gmail.com	Jenny Kunte	\N	2026-05-15 21:34:48.917	2026-05-18 16:18:06.419
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Name: BorrowRequest BorrowRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."BorrowRequest"
    ADD CONSTRAINT "BorrowRequest_pkey" PRIMARY KEY (id);


--
-- Name: GroupMember GroupMember_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."GroupMember"
    ADD CONSTRAINT "GroupMember_pkey" PRIMARY KEY (id);


--
-- Name: Group Group_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Group"
    ADD CONSTRAINT "Group_pkey" PRIMARY KEY (id);


--
-- Name: Loan Loan_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Loan"
    ADD CONSTRAINT "Loan_pkey" PRIMARY KEY (id);


--
-- Name: ResourceSharing ResourceSharing_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."ResourceSharing"
    ADD CONSTRAINT "ResourceSharing_pkey" PRIMARY KEY (id);


--
-- Name: Resource Resource_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Resource"
    ADD CONSTRAINT "Resource_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: BorrowRequest_borrowerId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "BorrowRequest_borrowerId_idx" ON public."BorrowRequest" USING btree ("borrowerId");


--
-- Name: BorrowRequest_borrowerId_status_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "BorrowRequest_borrowerId_status_idx" ON public."BorrowRequest" USING btree ("borrowerId", status);


--
-- Name: BorrowRequest_createdAt_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "BorrowRequest_createdAt_idx" ON public."BorrowRequest" USING btree ("createdAt");


--
-- Name: BorrowRequest_ownerId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "BorrowRequest_ownerId_idx" ON public."BorrowRequest" USING btree ("ownerId");


--
-- Name: BorrowRequest_ownerId_status_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "BorrowRequest_ownerId_status_idx" ON public."BorrowRequest" USING btree ("ownerId", status);


--
-- Name: BorrowRequest_resourceId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "BorrowRequest_resourceId_idx" ON public."BorrowRequest" USING btree ("resourceId");


--
-- Name: BorrowRequest_status_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "BorrowRequest_status_idx" ON public."BorrowRequest" USING btree (status);


--
-- Name: GroupMember_groupId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "GroupMember_groupId_idx" ON public."GroupMember" USING btree ("groupId");


--
-- Name: GroupMember_groupId_role_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "GroupMember_groupId_role_idx" ON public."GroupMember" USING btree ("groupId", role);


--
-- Name: GroupMember_groupId_userId_key; Type: INDEX; Schema: public; Owner: appuser
--

CREATE UNIQUE INDEX "GroupMember_groupId_userId_key" ON public."GroupMember" USING btree ("groupId", "userId");


--
-- Name: GroupMember_userId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "GroupMember_userId_idx" ON public."GroupMember" USING btree ("userId");


--
-- Name: Loan_borrowerId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Loan_borrowerId_idx" ON public."Loan" USING btree ("borrowerId");


--
-- Name: Loan_borrowerId_status_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Loan_borrowerId_status_idx" ON public."Loan" USING btree ("borrowerId", status);


--
-- Name: Loan_endDate_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Loan_endDate_idx" ON public."Loan" USING btree ("endDate");


--
-- Name: Loan_lenderId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Loan_lenderId_idx" ON public."Loan" USING btree ("lenderId");


--
-- Name: Loan_lenderId_status_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Loan_lenderId_status_idx" ON public."Loan" USING btree ("lenderId", status);


--
-- Name: Loan_requestId_key; Type: INDEX; Schema: public; Owner: appuser
--

CREATE UNIQUE INDEX "Loan_requestId_key" ON public."Loan" USING btree ("requestId");


--
-- Name: Loan_resourceId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Loan_resourceId_idx" ON public."Loan" USING btree ("resourceId");


--
-- Name: Loan_startDate_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Loan_startDate_idx" ON public."Loan" USING btree ("startDate");


--
-- Name: Loan_status_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Loan_status_idx" ON public."Loan" USING btree (status);


--
-- Name: ResourceSharing_groupId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "ResourceSharing_groupId_idx" ON public."ResourceSharing" USING btree ("groupId");


--
-- Name: ResourceSharing_resourceId_groupId_key; Type: INDEX; Schema: public; Owner: appuser
--

CREATE UNIQUE INDEX "ResourceSharing_resourceId_groupId_key" ON public."ResourceSharing" USING btree ("resourceId", "groupId");


--
-- Name: ResourceSharing_resourceId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "ResourceSharing_resourceId_idx" ON public."ResourceSharing" USING btree ("resourceId");


--
-- Name: Resource_category_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Resource_category_idx" ON public."Resource" USING btree (category);


--
-- Name: Resource_currentLoanId_key; Type: INDEX; Schema: public; Owner: appuser
--

CREATE UNIQUE INDEX "Resource_currentLoanId_key" ON public."Resource" USING btree ("currentLoanId");


--
-- Name: Resource_ownerId_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Resource_ownerId_idx" ON public."Resource" USING btree ("ownerId");


--
-- Name: Resource_ownerId_status_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Resource_ownerId_status_idx" ON public."Resource" USING btree ("ownerId", status);


--
-- Name: Resource_status_category_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Resource_status_category_idx" ON public."Resource" USING btree (status, category);


--
-- Name: Resource_status_idx; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX "Resource_status_idx" ON public."Resource" USING btree (status);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: appuser
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: BorrowRequest BorrowRequest_borrowerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."BorrowRequest"
    ADD CONSTRAINT "BorrowRequest_borrowerId_fkey" FOREIGN KEY ("borrowerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BorrowRequest BorrowRequest_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."BorrowRequest"
    ADD CONSTRAINT "BorrowRequest_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BorrowRequest BorrowRequest_resourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."BorrowRequest"
    ADD CONSTRAINT "BorrowRequest_resourceId_fkey" FOREIGN KEY ("resourceId") REFERENCES public."Resource"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GroupMember GroupMember_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."GroupMember"
    ADD CONSTRAINT "GroupMember_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."Group"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GroupMember GroupMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."GroupMember"
    ADD CONSTRAINT "GroupMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Group Group_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Group"
    ADD CONSTRAINT "Group_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Loan Loan_borrowerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Loan"
    ADD CONSTRAINT "Loan_borrowerId_fkey" FOREIGN KEY ("borrowerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Loan Loan_lenderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Loan"
    ADD CONSTRAINT "Loan_lenderId_fkey" FOREIGN KEY ("lenderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Loan Loan_requestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Loan"
    ADD CONSTRAINT "Loan_requestId_fkey" FOREIGN KEY ("requestId") REFERENCES public."BorrowRequest"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Loan Loan_resourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Loan"
    ADD CONSTRAINT "Loan_resourceId_fkey" FOREIGN KEY ("resourceId") REFERENCES public."Resource"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ResourceSharing ResourceSharing_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."ResourceSharing"
    ADD CONSTRAINT "ResourceSharing_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."Group"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ResourceSharing ResourceSharing_resourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."ResourceSharing"
    ADD CONSTRAINT "ResourceSharing_resourceId_fkey" FOREIGN KEY ("resourceId") REFERENCES public."Resource"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Resource Resource_currentLoanId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Resource"
    ADD CONSTRAINT "Resource_currentLoanId_fkey" FOREIGN KEY ("currentLoanId") REFERENCES public."Loan"(id) ON DELETE SET NULL;


--
-- Name: Resource Resource_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public."Resource"
    ADD CONSTRAINT "Resource_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: appuser
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 0KDNFwaqtXjZD9V5IpNkcYS3YyxV5RzOgAO9pLyCbxU1BYQJDffHH8zB45zHeoq

